<div class="container mt-3">
  <h2>Groups</h2>
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#addUserModal"
    (click)="addGroup()"
  >
    Add New Group
  </button>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Members</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.name }}</td>
        <td>{{ item.members.length }}</td>
        <td>
          {{ item.createdAt | date }}
        </td>
        <td>
          <button class="btn btn-primary" (click)="editGroup(item)">
            Edit
          </button>
          <button class="btn btn-danger ms-1" (click)="deleteGroup(item._id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
